  .bloc {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 2%;
    margin-top: 2%;
  }

  .rowsEmail {
    padding-bottom: 5px;
  }

  #messageBox {
    position: sticky;
    bottom: 0;
  }

  #skeletonMLRow, #skeletonEmailRow {
    display: none;
  }

  .nolinks {
    padding-bottom: 0 !important;
    margin: 0 !important;
  }

  .navbar {
    white-space: nowrap;
    width: 100%;
    display: block;
  }

  .expandbtn {
    cursor: pointer;
  }

  .selectorExpandBtn {
      display: inline-block;
      margin-left: -5%;
      transform-origin: center;
      transform: rotate(90deg);
      transition: transform 0.25s;
  }

  .expandbtn[unexpanded] > .selectorExpandBtn {
    transform: rotate(0deg)!important;
  }

  .expandbtn[unexpanded] + .expandable {
    display: none!important;
  }

/* Dark theme css */
  [data-theme="dark"] {
    background-color: rgba(18, 18, 18, 1) !important;
    color: #fff;
  }

  [data-theme="dark"] input:not(.btn), [data-theme="dark"] select {
    background-color: #2C2C2C !important;
    border-color: black !important;
    color: white !important;
  }

  [data-theme="dark"] .bloc {
    background-color: #1F1F1F !important;
  }

  [data-theme="dark"] .btn-primary, [data-theme="dark"] .badge-primary {
    background-color: #124467;
    border-color: #124467;
  }

  [data-theme="dark"] .barresup {
    background-color: #272727;
  }

  [data-theme="dark"] hr {
    border-top: 1px solid #121212; /* Hide the separator */
  }

  [data-theme="dark"] .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #272727;
    background-color: #272727;
  }

  [data-theme="dark"] .iconmenu, [data-theme="dark"] .iconmenu:hover {
    color: white !important;
  }

  [data-theme="dark"] a, [data-theme="dark"] a:hover {
    color: #f62459 !important
  }

  [data-theme="dark"] .noColor, [data-theme="dark"] .noColor:hover {
    color: white !important;
  }

  [data-theme="dark"] .input-group-text {
    color: white;
    background-color: #5a6268;
    border-color: #5a6268;
}
