<?php

const USER_DB = "userdb";
const PASSWD_DB = "userpassw";
const HOST_DB = "localhost";
const NAME_DB = "dbname";

const PORTAIL_CLIENT_ID = "portailclientid";
const PORTAIL_CLIENT_PASSWD = "portailpasswd";
const PORTAIL_CLIENT_RETURN_URI = "http://localhost/retournfsdlkfj.php";

const PORTAIL_USER_ID = "portailclientid";
const PORTAIL_USER_PASSWD = "portailpasswd";
const PORTAIL_USER_RETURN_URI = "http://localhost/retournfsdlkfj.php";

const SERV_SOAP_SYMPA = "https://example/wsdl/";
const SYMPA_REMOTE_APP_USER = "appsympauser";
const SYMPA_REMOTE_APP_PASSWD = "appsympapassw";

const SUFFIXE_MAIL = "@quelquechose";

const ASSO_SERV_URL = "http://example:port/";
const BASE_ROOT_GESMAIL = "/var/www/gesmail/";
