<?php

const USER_DB = "userdb";
const PASSWD_DB = "userpassw";

const PORTAIL_CLIENT_ID = "portailclientid";
const PORTAIL_CLIENT_PASSWD = "portailpasswd";
const PORTAIL_RETURN_URI = "http://localhost/retournfsdlkfj.php";

const SERV_SOAP_SYMPA = "https://example/wsdl/";
const SYMPA_REMOTE_APP_USER = "appsympauser";
const SYMPA_REMOTE_APP_PASSWD = "appsympapassw";

const SUFFIXE_MAIL = "@quelquechose";

const ASSO_SERV_URL = "http://example:port/";
